
tensorflow==2.16.1
pandas==2.2.2  # Matches Colab's version
pandas_ta==0.3.14b0
oandapyV20==0.7.2
requests==2.32.3  # Matches Colab's version
python-telegram-bot==21.0.1
joblib==1.4.2
protobuf==3.20.3
h5py==3.10.0
python-dotenv==1.1.1
flask-ngrok==0.0.25
scikit-learn==1.2.2
